PORT=3000

ACCESS_TOKEN_SECRET=asdggasgsdgadasdgasdgasdgasdfgsdfagsdasd
REFRESH_TOKEN_SECRET=REasdgdgsaasdgFRESH_TOKEN_SECRsadfljashjoh


# DB CONFIG
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=ecommerce